.centered {
  text-align: center;
}

#name {
  margin-top:1%;
}

.bottom {
  background-color: rgb(83, 152, 209);
  outline: solid navy 5px;
  margin-top:5%;
  padding:5%;
}

.btn1 {
  background-color: rgb(121, 183, 202);
  border-color:black;
  border-radius:10px;
  font-size:large;
}

.btn1:hover {
  background-color: #a9ccd8;
  border-color:black;
}

#reverse {
  margin-left:5%;
  margin-right:2%;
  font-size:large;
}

.radio {
  margin: 1%;
  font-size:large;
}

.enter {
  margin-top:5%;
}

#results {
  display:none;
  text-align:justify;
}